[submodule "tenants"]
	path = tenants
	url = https://github.com/DQAphex/TenantsMicroservice.git
[submodule "iam-service"]
	path = iam-service
	url = https://github.com/iDenyss/iam-service.git
[submodule "billing"]
	path = billing
	url = https://github.com/nickosevilla/billing-microservice.git
[submodule "plataforma-backend"]
	path = plataforma-backend
	url = https://github.com/nickosevilla/plataforma-backend.git
